html {
  font-size: 42.5%;
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: #bcbcbc;
}

header {
  font-size: 2.5rem;
  padding: 1rem 0;
  text-align: center;
  color: #bcbcbc;
  background-color: #000;
}

.main__container {
  padding: 8rem 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 1rem;
  width: 45%;
  background-color: #fff;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

article {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  font-size: 3.5rem;
}

.input__file {
  display: none;
}

.photo__label {
  font-size: 2.5rem;
  padding: 1rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  color: #777;
}

.input {
  font-size: 2.5rem;
  padding: 1rem 1rem;
  border-radius: 1rem;
  border: 1px solid #bcbcbc;
  transition: border 0.3;
}

.input::placeholder {
  color: #777;
}

.input:focus {
  /* border: 3px solid aqua; */
  box-shadow: inset 2px 2px 0 0 rgb(14, 41, 148);
  box-shadow: inset -2px -2px 0 0 rgb(14, 41, 148);
  outline: 0;
  transition: all 0.3s ease;
}

.educations__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.educations__div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.experiences__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.experiences__div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btn__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  font-size: 2.5rem;
  color: #fff;
  background-color: #2d2d2d;
  font-family: sans-serif;
  font-weight: 600;
  padding: 1.5rem 0;
  border-radius: 1rem;
  transition: background-color 0.3s;
  border: 0;
}

.btn:hover {
  cursor: pointer;
  background-color: #000;
  transition: background-color 0.3s;
}

.cv__btn__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cv__btn {
  font-size: 2.5rem;
  color: #fff;
  font-family: sans-serif;
  font-weight: 600;
  padding: 1.5rem 0;
  border-radius: 1rem;
  transition: background-color 0.3s;
  border: 0;
  cursor: pointer;
}

.preview__btn {
  background-color: #16bf07;
}

.preview__btn:hover {
  background-color: #108805;
  transition: background-color 0.3s;
}

.reset__btn {
  background-color: #e51111;
}

.reset__btn:hover {
  background-color: #a10707;
  transition: background-color 0.3s;
}

.overlay {
  align-items: flex-start;
  background-color: #eee;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  left: 50%;
  position: absolute;
  top: 25rem;
  transform: translate(-50%, 0);
  z-index: 30;
  font-size: 3rem;
  width: 130rem;
  min-height: 170rem;
}

.overlay__container {
  display: grid;
  grid-template-columns: 85rem 36rem;
  min-height: 105rem;
  padding: 0 2rem;
  width: 98.5%;
  justify-content: space-between;
}

.overlay__header {
  background-color: #289d1e;
  min-height: 10rem;
  width: 100%;
  color: #fff;
}

.overlay__main {
  font-size: 2rem;
  padding-top: 5rem;
}

.overlay__main div {
  min-height: 20rem;
}

.overlay__main div h1 {
  color: #108805;
  border-bottom: 1px #c4c4c4 solid;
  margin-bottom: 2rem;
}

.personal__container {
  font-size: 2rem;
  color: #2d2d2d;
}

.personal__container h1 {
  border-bottom: 1px #c4c4c4 solid;
  margin-bottom: 2rem;
  color: #108805;
}

.personal__container h2 {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  font-size: 3rem;
}

.personal__container p {
  color: #7f7f7f;
}

.hide {
  visibility: hidden;
  display: none;
}

.experience__div,
.education__div {
  display: flex;
  gap: 50rem;
  color: #2d2d2d;
}

.overlay__photo {
  width: 100%;
  object-fit: cover;
}

.print__section {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 3.5rem 0;
}

.print__section button {
  font-size: 5rem;
  padding: 2rem 5rem;
  border-radius: 2rem;
  border: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: background-color 0.3s;
  cursor: pointer;
  color: white;
}

.print__btn {
  background-color: #108805;
}

.back__btn {
  background-color: #e51111;
}

.back__btn:hover {
  background-color: #b70f0f;
}

.print__btn:hover {
  background-color: #0e7005;
  transition: background-color 0.3s;
}
