html {
  font-size: 52.5%;
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: #bcbcbc;
}

header {
  font-size: 2.5rem;
  padding: 1rem 0;
  text-align: center;
  color: #bcbcbc;
  background-color: #000;
}

.main__container {
  padding: 8rem 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 1rem;
  width: 45%;
  background-color: #fff;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

article {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  font-size: 3.5rem;
}

.input__file {
  display: none;
}

.photo__label {
  font-size: 2.5rem;
  padding: 1rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  color: #777;
}

.input {
  font-size: 2.5rem;
  padding: 1rem 1rem;
  border-radius: 1rem;
  border: 1px solid #bcbcbc;
  transition: border 0.3;
}

.input::placeholder {
  color: #777;
}

.input:focus {
  border: 3px solid aqua;
  outline: 0;
  transition: all 0.3s ease;
}

.educations__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.educations__div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.experiences__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.experiences__div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btn__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  font-size: 2.5rem;
  color: #fff;
  background-color: #2d2d2d;
  font-family: sans-serif;
  font-weight: 600;
  padding: 1.5rem 0;
  border-radius: 1rem;
  transition: background-color 0.3s;
  border: 0;
}

.btn:hover {
  cursor: pointer;
  background-color: #000;
  transition: background-color 0.3s;
}

.cv__btn__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cv__btn {
  font-size: 2.5rem;
  color: #fff;
  font-family: sans-serif;
  font-weight: 600;
  padding: 1.5rem 0;
  border-radius: 1rem;
  transition: background-color 0.3s;
  border: 0;
  cursor: pointer;
}

.preview__btn {
  background-color: #16bf07;
}

.preview__btn:hover {
  background-color: #108805;
  transition: background-color 0.3s;
}

.reset__btn {
  background-color: #e51111;
}

.reset__btn:hover {
  background-color: #a10707;
  transition: background-color 0.3s;
}
